<div class="alert alert-default">
  <div class="pull-right text-right">

    <% if @report.generating_at %>
      <%= timestamp_tag @report.generating_at, prefix: "Started building a new report", time_zone: @time_zone%>
      <em class="small"><%= @report.generating_at.in_time_zone(@time_zone) %></em>
    <% else %>

    <%= form_tag admin_auditor_generate_report_path(org_path: params[:org_path]), class: 'form form-inline' do %>
        <div class="form-group">
            <%= label_tag :account_filter, 'Time Period' %>
            <% if @org.root_org_setting("reports_use_document_meta") %>
              <%= text_field_tag :account_filter, @report.report_filters["account_filter"], class: 'form-control' %>
            <% else %>
              <%= select_tag :account_filter, 
                options_from_collection_for_select(@org.all_periods, "slug", "name", @report.report_filters["account_filter"]),
                include_blank: 'Default Period',
                class: 'form-control'
              %>
            <% end %>
            <%= hidden_field_tag :lms_course_filter, @report.report_filters["lms_course_filter"], class: 'form-control' %>
            <%= hidden_field_tag :rebuild, 'true', class: 'form-control' %>
            <%= hidden_field_tag :report, @report.id, class: 'form-control' %>
        </div>

        <%= submit_tag 'Build Report', class: 'btn btn-default' %>
    <% end %>
      <em class="small">Takes 1-5 minutes</em>
    <% end %>
  </div>
  <%= timestamp_tag @report.updated_at, prefix: "Report Generated", time_zone: @time_zone%>
  <em class="small"><%= @report.updated_at.in_time_zone(@time_zone) %></em>
</div>

<div class="alert alert-default clearfix">
  <div class="form-group col-sm-4">
    <label for="account_filter">
      Filter
    </label>
    <select id="account_filters" class="form-control">
      <option value="">Show all</option>
    </select>
  </div>
</div>

<%= salsa_partial("charts",@org)%>