<form class="col-md-12 form-inline mb-4">
  <div class="row">
    <div class="form-group">
      <%= label_tag(:period_filter, "Period") %>
      <%= select_tag "period_filter", options_from_collection_for_select(@periods, "id", "name", params[:period_filter]), :include_blank => '' %>
    </div>

    <% if @organizations %>
      <div class="form-group">
        <%= label_tag(:organization_filter, "Organization") %>
        <%= select_tag "organization_filter", options_from_collection_for_select(@organizations, "id", "name", params[:organization_filter]), :include_blank => '' %>
      </div>
    <% end %>

    <div class="form-group">
      <%= label_tag(:step_filter, "Step") %>
      <%= select_tag "step_filter", options_from_collection_for_select(@workflow_steps, "slug", "label", params[:step_filter]), :include_blank => '' %>
    </div>

    <button type="submit" class="btn btn-dark">
      Filter
    </button>
  </div>
</form>