<h1 class="h2 mt-4">My Documents</h1>
<% if !user_documents.blank? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Document</th>
      <th scope="col">Organization</th>
      <th scope="col">Workflow Step</th>
      <th scope="col">Assignee(s)</th>
      <th scope="col">Updated</th>
      <th scope="col"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
      <% user_documents.each do |document| %>
        <tr>
          <th col="row"><%= document.period.name %></td>
          <td><%= "#{document.organization.parent&.name} : #{document.organization.name}" %></td>
          <td><%= document.workflow_step&.name %>: <%= document.workflow_step&.component&.name %></td>
          <td>
            <% document.assignees&.each do |assignee| %>
              <%= "#{assignee&.name}: #{assignee&.email}" if document.user %>
              <br>
            <% end %>
          </td>
          <td nowrap>
            <%= time_ago_in_words(document.updated_at)%> ago
          </td>
          <td>
            <%= link_to "View", document_path(document.view_id, org_path:params[:org_path]) %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= paginate user_documents if user_documents&.count.to_i > documents&.count.to_i && user_documents&.count.to_i > staff_documents&.count.to_i %>
<% else %>
<div class="col-md-12 mt-4">
  <div class="alert alert-warning">
    No documents
  </div>
</div>
<% end %>

