.container.text-left
  %h2= "Select a document for new course: #{params[:lms_course_id]}"

  = paginate @documents
  = render partial: '/admin_documents/list', locals: { links: [:view, :course_select, :template], columns: [:links, :name, :dates, :lms_course_id], classes: {template: "btn btn-primary", course_select: "btn btn-success"}, titles: {template: "Use as Course Template", course_select: "Link to Course"} }


  = paginate @documents
