- titles ||= {}
- classes ||= {}
- course_id ||= nil
- relink ||= nil
- links = Hash[links.collect { |i| [i, true] } ]
- columns = Hash[columns.collect { |i| [i, true] } ]

- link = links.include?(:link)
- enable_workflows = @organization.root_org_setting('enable_workflows') != false
- track_meta_info_from_document = @organization.root_org_setting('track_meta_info_from_document') != false
- lms_authentication_source = @organization.root_org_setting('lms_authentication_source')
- @time_zone ||= @organization.setting("time_zone")

= paginate @documents
%table.table.table-responsive
  %thead
    %tr
      - if columns[:move_documents]
        %th
      - if columns[:name]
        %th{scope: "col"} Name
      - if columns[:org]
        %th{scope: "col"} Organization
      - if columns[:period] && @periods.present?
        %th{scope: "col", nowrap: ''} Time Period
      - if columns[:lms_course_id] && !lms_authentication_source.nil?
        %th{scope: "col", nowrap: ''} Course ID
      - if columns[:user]
        %th{scope: "col", nowrap: ''} User
      - if columns[:dates]
        %th{scope: "col"} Dates
      - if columns[:links]
        %th{scope: "col"} Links
      - if columns[:verion]
        %th{scope: "col"}.text-right Version

  %tbody
    - @documents.each do |document|
      - org_path = document.organization.path
      %tr{id: "document_#{document.id}_wrapper"}
        - if columns[:move_documents]
          %td= check_box_tag "document_ids[]", document.id, false, { id: "document_#{document.id}", 'aria-labeldedby': "document_#{document.id}_name" }
        
        - if columns[:name]
          %th{scope:"row", nowrap: "width='50%'"}
            - if has_role('supervisor') || has_role('designer') 
              = link_to document.title, edit_admin_document_path(document, org_path: org_path), id: "document_#{document.id}_name"
            - else
              = document.title
      
        - if columns[:org]
          %td{nowrap: ''}= document.organization.name

        - if columns[:period] && @periods.present?
          %td{nowrap: ''}= document.period&.name
        
        - if columns[:lms_course_id] && !lms_authentication_source.nil?
          - if links[:link] && document.lms_course_id.blank?
            %td= link_to titles[:link] || "Link", link_lms_course_path(lms_course_id:course_id,id:document.view_id, org_path: org_path, relink: relink ), class: classes[:link], 'data-document-id'=>document.id 
          - else
            %td{nowrap: ''}= document.lms_course_id
      
        - if columns[:user]
          %td{nowrap: ''}= document.user&.name
        
        - if columns[:dates]
          %td{nowrap: "width='50%'"}
            = timestamp_tag document.updated_at, prefix: "Updated", time_zone: @time_zone unless same_time?(document.updated_at, document.created_at)
            = timestamp_tag document.lms_published_at, prefix: "Published", time_zone: @time_zone if document.lms_published_at.is_a?(Time)
            = timestamp_tag document.created_at, prefix: "Created", time_zone: @time_zone

        - if columns[:links]
          %td{scope:"row", nowrap: ''}
            #document_links
            .ul.horizontal-list
              
              - if links[:view] 
                %li= link_to titles[:view] || "View", document_path(id: document.view_id, org_path: org_path), target: :_blank, class: classes[:view]
                
              - if links[:info] && (has_role('supervisor') || has_role('designer'))
                %li= link_to "Info", edit_admin_document_path(document, org_path: org_path), id: "document_#{document.id}_edit_info"
                
              - if document.organization && document.organization.root_org_setting('enable_anonymous_actions')
                - if links[:editor]
                  %li= link_to "Editor", document_path(id: document.edit_id, org_path: org_path)
                  
                - if links[:template] && document.template_id
                  %li= link_to (titles[:template] || "Template"), document_path(id: document.template_id, org_path: org_path, lms_course_id: course_id, relink: relink), class: classes[:template]
              
              - if document.lms_course_id
                - if links[:course] 
                  %li= link_to "Course", lms_course_document_path(lms_course_id: document.lms_course_id, org_path: org_path)
                
                - if links[:published] && lms_authentication_source != "lti" && lms_authentication_source.present?
                  %li
                    %a{href:"#{lms_authentication_source}/courses/#{document.lms_course_id}/assignments/syllabus"}Published

                - if links[:workflow] && document.user_id && enable_workflows
                  %li= link_to "Workflow", organization_user_document_workflow_assignments_path(organization_user_id: document.user_id,org_path: org_path,slug: params[:slug],document_id: document.id)

                - if links[:meta] && has_role('designer') && track_meta_info_from_document
                  %li= link_to "Meta",document_meta_path(document_id: document.id)

        - if columns[:version]
          %td.text-right= link_to document.versions.count, admin_document_versions_path(document, org_path: org_path)
= paginate @documents
