<div class="page-header">
  <h1>Document Versions</h1>

  <%= link_to((@document.name ? @document.name : "<Document ##{@document.id}>"), edit_admin_document_path(@document)) %>

  <div>
    Current Version: <%= @document.versions.count %>
  </div>
</div>

<%= paginate @document_versions %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Document Version</th>
      <th>Document Event</th>
      <th>User that edited document</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    <% @document_versions.each do |dv| %>
      <tr>
        <td><%= dv.index %></td>
        <td><%= dv.event %></td>
        <td><%= dv.whodunnit ? User.find_by(id: dv.whodunnit)&.email : '<System>' %></td>
        <td><%= link_to 'Revert to this version', admin_revert_document_path(@document, dv.id, org_path: params[:org_path]), method: :post, class:"btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
