<% if @documents.length > 0 %>
  <%= paginate @documents %>

  <% other_orgs = @organizations.where.not(slug: params[:slug]).order('lft', 'rgt') %>

  <% can_move_documents = (@organization || @organizations.count != 1) && other_orgs.count > 0 && has_role('organization_admin') %>

  <%= form_tag('/admin/organizations/documents', method:'post' ) do |f| %>
    <% if can_move_documents %>
      <div class="row">
        <% if (@organization || @organizations.count != 1) && other_orgs.count > 0 && has_role('organization_admin') %>
          <div class="form-group col-sm-4">
            <%= label_tag :organization_id, 'Move selected documents: ', class: "control-label" %>
            <div class="controls">
              <%= select('organization', 'id', other_orgs.collect { |org| [ (org.parent && org.parent.parent ? org.parent.parent.name + ' » ' : '') + (org.parent ? org.parent.name + ' » ' : '') + org.name, org.id ] }, {include_blank: true}, {class: 'form-control'}) %></p>
            </div>
          </div>

          <div class="form-group col-sm-2">
            <%= submit_tag 'Move', {class: 'btn btn-default mt-label'}%>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-sm-12">
        <h2>
          <% if params[:key] != nil %>
            <%= params[:key].capitalize %>
          <% end %>

          Documents
        </h2>

        <table class="table table-responsive striped">
          <thead>
            <tr>
              <% if can_move_documents %>
                <td>
                </td>
              <% end %>
              <th scope="col">
                Name
              </th>
              <% if @periods %>
                <th scope="col" nowrap>
                  Time Period
                </th>
              <% end %>
              <% if @organization.root_org_setting('lms_authentication_source') != nil %>
                <th scope="col" nowrap>
                  Course ID
                </th>
              <% end %>
              <% if @organization.root_org_setting('enable_workflows') %>
                <th scope="col" nowrap>
                  User
                </th>
              <% end %>
              <th scope="col">
                Dates
              </th>
              <th scope="col">
                Links
              </th>
              <th scope="col" class="text-right">
                Version
              </th>
            </tr>
          </thead>
          <tbody>
          <% @documents.each do |document| %>
            <tr id="<%= 'document_#{document.id}_wrapper' %>">
              <% if can_move_documents %>
                <td>
                  <%= check_box_tag "document_ids[]", document.id, false, { id: "document_#{document.id}", 'aria-labeldedby': "document_#{document.id}_name" } %>
                </td>
              <% end %>

              <th scope="row" nowrap width="50%">
                <%= link_to document.name, edit_admin_document_path(document, org_path: params[:org_path]), id: "document_#{document.id}_name" %>
              </th>

              <% if @periods %>
                <td>
                  <%= document.period&.name %>
                </td>
              <% end %>

              <% if @organization.root_org_setting('lms_authentication_source') != nil %>
                <td nowrap>
                  <%= document.lms_course_id %>
                </td>
              <% end %>

              <% if @organization.root_org_setting('enable_workflows') %>
                <td nowrap>
                  <%= document.user.name if document.user %>
                </td>
              <% end %>

              <td nowrap width="50%">
                <% if time_ago_in_words(document.created_at) != time_ago_in_words(document.updated_at) %>
                  <div>
                    <time datetime="<%= document.created_at %>">Updated <%= time_ago_in_words document.updated_at %> ago</time>
                  </div>
                <% end %>

                <% if document.lms_published_at.is_a?(Time) %>
                  <div>
                    <time datetime="<%= document.created_at %>">Published <%= time_ago_in_words document.lms_published_at %> ago</time>
                  </div>
                <% end %>

                <div>
                  <time datetime="<%= document.created_at %>">Created <%= time_ago_in_words document.created_at %> ago</time>
                </div>
              </td>

              <td>
                <% org = @organization if @organization %>
                <% org = document.organization unless org %>

                <% if org %>
                  <% org_base = "//#{org_slug_parts(org)[0]}#{redirect_port}" %>
                  <% if org.depth > 0 %>
                    <% org_base += "/#{org_slug_parts(org)[1]}"%>
                  <% end %>
                <% else %>
                  <% org_base = '' %>
                <% end %>

                <div>
                  <ul class="horizontal-list">
                    <% if document.organization && !document.organization.root_org_setting('disable_document_view') %>
                      <li>
                        <%= link_to "View", "#{org_base}#{document_path(id: document.view_id, org_path: params[:org_path])}", org_path: params[:org_path] %>
                      </li>
                    <% end %>

                    <% if document.organization && document.organization.root_org_setting('enable_anonymous_actions') %>
                      <li>
                        <%= link_to "Edit", "#{org_base}#{document_path(id: document.edit_id, org_path: params[:org_path])}", org_path: params[:org_path] %>
                      </li>
                      
                      <li>
                        <% if document.template_id %>
                          <%= link_to "Template", "#{org_base}#{document_path(id: document.template_id, org_path: params[:org_path])}", org_path: params[:org_path] %>
                        <% end %>
                      </li>
                    <% end %>

                    <% if document.lms_course_id %>
                      <li>
                        <%= link_to "Course", "#{org_base}#{lms_course_document_path(lms_course_id: document.lms_course_id, org_path: params[:org_path])}", org_path: params[:org_path] %>
                      </li>

                      <% if document.lms_published_at %>
                        <% if document.organization && document.organization[:lms_authentication_source] %>
                          <li>
                            <a href="<%= document.organization[:lms_authentication_source] + '/courses/' + document.lms_course_id + '/assignments/syllabus' %>">
                              Published
                            </a>
                          </li>
                        <% end %>
                      <% end %>
                    <% end %>

                    <% if @organization.root_org_setting('enable_workflows') != false %>
                      <% if document.user_id %>
                        <%= link_to "Workflow",
                          organization_user_document_workflow_assignments_path(
                            organization_user_id: document.user_id,
                            org_path: params[:org_path],
                            slug: params[:slug],
                            document_id: document.id,
                          ) %>
                        <% end %>
                    <% end %>

                    <% if has_role('designer') && @organization.root_org_setting('track_meta_info_from_document') != false %>
                      <%= link_to "Meta",
                        document_meta_path(
                          document_id: document.id,
                        ) %>
                    <% end %>

                  </ul>
                </div>
              </td>
              <td class='text-right'>
                <%= link_to document.versions.count, admin_document_versions_path(document, org_path: params[:org_path]) %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div><!-- .row -->
  <% end %><!-- form -->
  <% if @organization %>
      <!-- Modal -->
      <div id="republishSearch" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Republish Documents</h4>
            </div>
            <div class="modal-body">
              <p>Republishing works by using the last published date for your documents.</p>
              <p>Search for documents:</p>

              <%= form_tag("/admin/organization/preview/#{full_org_path(@organization)}", method: "get") do %>
                <div class="form-group">
                  <%= label_tag(:document_start_date, "Start Date:") %>
                  <%= date_field(:document, :start_date, class: 'form-control') %>
                </div>
                <div class="form-group">
                  <%= label_tag(:document_end_date, "End Date:") %>
                  <%= date_field(:document, :end_date, class: 'form-control') %>
                </div>
                <div class="form-group">
                  <%= submit_tag("Search", class: 'btn btn-success') %>
                </div>
              <% end %>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
  <% end %>
  <%= paginate @documents %>
<% else %>
  <p>
    No documents found
  </p>
<% end %>
